.header {
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.Title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.links {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    position: relative;
    --items: 3;
    --gap: 35px;
}

.links > a {
    flex: 1;
    text-align: center;
}

.links > .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: calc( (100% - 2*var(--gap)) / var(--items) * (var(--index) - 1) + var(--gap) * (var(--index) - 1) );
    width: calc( (100% - 2*var(--gap)) / var(--items) );
    --index: 0;
    background-color: #6fd1ff;
    height: 2px;
}

.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }

.headercontent {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.png {
    width: 150px;
    height: 150px;
}

.Login-link {
    color: #EFF1F3;
    font-size: 23px;
    text-decoration: none;
}

.Title-o {
    margin: 0px;
    display: block;
    color: #EFF1F3;
    text-decoration: none;

}

.Login-linko {
    font-size: 25px;
    color: #EFF1F3;
    text-decoration: none;
    width: 200px;
}

.telo {
    margin-top: 180px;
    margin: 0px;
}

.Kontakt-chart {
    font-size: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 750px;
    height: 250px;
    align-items: middle;

}

.Name {
    font-size: 35px;
    text-align: center;
}

.Odkazik {
    text-align: center;
}

.meno,
.Email {
    font-size: 20px;
}
.links {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    position: relative;
    --items: 3;
    --gap: 45px;
}

.links > a {
    flex: 1;
    text-align: center;
}

.links > .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: calc( (100% - 2*var(--gap)) / var(--items) * (var(--index) - 1) + var(--gap) * (var(--index) - 1) );
    width: calc( (100% - 2*var(--gap)) / var(--items) );
    --index: 0;
    background-color: #6fd1ff;
    bottom: -5px;
    height: 2px;
}

.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }

.footer {
    color: whitesmoke;
    background-color: #3a3d3f;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    text-align: center;
    vertical-align: middle;
}

.footext {
    padding-top: 21px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.copyright {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: italic;
}

.Otazka {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 180px;
    vertical-align: top;
}

.input {
    width: 300px;
    height: 40px;
    font-size: 20px;
}

.forms {
    border: 1px solid black;
    padding: 30px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
    margin: 0 auto 150px auto;
    z-index: 100;


}

.Nazov {
    margin-top: 120px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.submitbut {
    align-items: center;
    font-size: 20px;
    width: 350px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    background-color: aliceblue;
}

.Riadok {
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}

.input {
    border-radius: 15px;
    border: 0.5px solid rgb(0, 0, 0);
}

.chekichek {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.inputo {
    border-radius: 15px;
    border: 0.5px solid rgb(0, 0, 0);
    height: 150px;
    width: 300px;

}

.Suhlas {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.socki {
    width: 50px;
    height: auto;
    margin-top: 10px;
}

.leftside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.middleside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Kontakt{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
}
.mailo{
    color: white;
    text-decoration: none;
}
.Zmluva{
    
    color: black;
    font-size: 25px;
    
   
    
}

.footer {
    color: whitesmoke;
    background-color: #3a3d3f;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 20px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.footext {
    padding-top: 21px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.copyright {
    margin-top: 0px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: italic;
    padding-bottom: 10px;
}

.textove {
    resize: none;
    width: 300px;
    height: 150px;
    border-radius: 15px;
    border: 0.5px solid rgb(0, 0, 0);
    font-size: 20px;
}
.asdasdasdasdasd{
    font-size: 25px;
    color: black;
}


.Riadoko {
    margin-bottom: 9px;
}
.GDPR{
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

/* Tablet */
@media (max-width: 830px) {
    .header {
        height: auto;
        padding: 10px;
    }

    .telo {
        margin-top: 210px;
    }

    .headercontent {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .Title {
        font-size: 20px;
        gap: 15px;
        flex-wrap: wrap;
    }

    .png {
        width: 100px;
        height: 100px;
    }

    .Login-link,
    .Login-linko {
        font-size: 18px;
    }

    .Kontakt-chart {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        font-size: 30px;
    }

    .Name {
        font-size: 25px;
    }

    .meno,
    .Email {
        font-size: 18px;
    }

    .Nazov {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .forms {
        padding: 20px;
        max-width: 90%;
        gap: 15px;
    }

    .input,
    .inputo,
    .textove {
        width: 100%;
        font-size: 18px;
    }

    .submitbut {
        width: 100%;
        font-size: 18px;
        height: 45px;
    }

    .Suhlas {
        font-size: 18px;
    }

    .chekichek {
        width: 25px;
        height: 25px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
        position: static;
        margin-top: 50px;
        position: fixed;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }

    .footext {
        padding-top: 0;
        margin-bottom: 5px;
    }
}

/* Mobil */
@media (max-width: 480px) {
    .Title {
        font-size: 16px;
        gap: 10px;
    }

    .png {
        width: 80px;
        height: 80px;
    }

    .Login-link,
    .Login-linko {
        font-size: 16px;
        width: 100px;
    }

    .Kontakt-chart {
        font-size: 25px;
    }

    .Name {
        font-size: 20px;
    }

    .meno,
    .Email {
        font-size: 16px;
    }

    .Nazov {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .forms {
        padding: 15px;
        gap: 10px;
    }

    .telo {
        margin-top: 190px;
    }

    .input,
    .inputo,
    .textove {
        font-size: 16px;
    }

    .submitbut {
        font-size: 16px;
        height: 40px;
    }

    .Suhlas {
        font-size: 16px;
    }

    .chekichek {
        width: 20px;
        height: 20px;
    }

    .input {
        width: 190px;

    }

    .textove {
        width: 190px;
    }

    .Otazka {
        width: 130px;
        font-size: 17px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
        position: static;
        margin-top: 50px;
    }
}