.header {
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    align-items: center;
    flex: 1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

.Title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.headercontent {
    height: 100px;
    display: flex;
    flex-direction:
        row;
    justify-content: space-between;
    align-items: center;
    flex: 1;

}

.png {
    width: 150px;
    height: 150px;
}

.Login-link {
    color: #EFF1F3;
    font-size: 40px;
}

.Title-o {
    margin: 0px;
    display: block;
    color: #EFF1F3;
    text-decoration: none;
}

.Login-linko {
    font-size: 25px;
    color: #EFF1F3;
    text-decoration: none;
    width: 200px;
}

.telo {
    padding-top: 160px;

}

.login-form {
    background-color: #559cb4;
    z-index: 1;
    border-radius: 50px;
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
    padding: 3vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

}

.asdo {
    color: #012A38;
}

.Holder {
    height: 70px;
    width: 450px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    margin-bottom: 25px;
}
.Holder-log{
     height: 70px;
    width: 450px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    margin-bottom: 25px;


}
.Holder-log:hover{ 
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.Name {
    margin-bottom: 25px;
    color: white;
    font-size: 35px;



}


.Holder {
    padding-left: 20px;
    box-sizing: border-box;
  }

.prihlas-form {
    background-color: #559cb4;
    z-index: 1;
    border-radius: 50px;
    padding-left: 10vw;
    padding-top: 1vw;
    padding-bottom: 5.0vw;
    width: 30vw;
    display: inline-block;
}

.Odkaz {
    text-decoration: none;
    color: white;
    font-size: 35px;
    display: block;
    margin-top: 10px;
}

.Odkazik {
    text-decoration: none;
    color: rgb(255, 176, 176);
    font-size: 33px;
    display: block;
    margin-top: 10px;
}
.Odkazik:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #ff0000;
}

.jazz {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 22px;
    display: block;
}

.links {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    position: relative;
    --items: 3;
    --gap: 45px;
}
.registracia{
    color: white;
}

.registracia:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #012A38;
}

.links > a {
    flex: 1;
    text-align: center;
}

.links > .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: calc( (100% - 2*var(--gap)) / var(--items) * (var(--index) - 1) + var(--gap) * (var(--index) - 1) );
    width: calc( (100% - 2*var(--gap)) / var(--items) );
    --index: 0;
    background-color: #6fd1ff;
    bottom: -5px;
    height: 2px;
}

.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }

.footer {
    color: whitesmoke;
    background-color: #3a3d3f;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 20px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.footext {
    padding-top: 21px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.Kontakt {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.mailo {
    color: white;
    text-decoration: none;
}

.copyright {
    margin-top: 0px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: italic;
    padding-bottom: 10px;
}
.socki {
    width: 50px;
    height: auto;
    margin-top: 10px;
}

.leftside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.middleside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Tablete responsivite */
@media (max-width: 830px) {
    .header {
        height: auto;
        padding: 10px;
    }

    .headercontent {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .Title {
        font-size: 20px;
        gap: 15px;
        flex-wrap: wrap;
    }

    .png {
        width: 100px;
        height: 100px;
    }

    .Login-link {
        font-size: 30px;
    }

    .Login-linko {
        font-size: 18px;
    }

    .login-form {
        width: 80vw;
        max-width: none;
        min-width: 250px;
        padding: 20px;
        gap: 15px;
    }

    .Kontakt {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 25px;
    }

    .mailo {
        color: white;
        text-decoration: none;
    }

    .Holder {
        width: 100%;
        height: 60px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .Holder-log {
        width: 100%;
        height: 60px;
        font-size: 18px;
        margin-bottom: 20px;
        width: 100% ;
    }

    .Name {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .Odkaz,
    .Odkazik {
        font-size: 25px;
    }

    .prihlas-form {
        width: 80vw;
        padding: 20px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
        position: static;
        margin-top: 50px;
        position: fixed;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }

    .telo {
        padding-top: 210px;
    }

    .footext {
        padding-top: 0;
        margin-bottom: 5px;
    }
}

/* Mobile responsivity */

@media (max-width: 480px) {
    .Title {
        font-size: 16px;
        gap: 10px;
    }
    .telo {
        margin: 0px;
         padding-top: 220px;
    }


    .png {
        width: 80px;
        height: 80px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
        position: static;
        margin-top: 50px;

    }

    .Login-link {
        font-size: 25px;
    }

    .Login-linko {
        font-size: 16px;
        width: 100px;
    }

    .login-form {
        width: 90vw;
        padding: 15px;
        gap: 10px;
    }

    .Holder {
        height: 50px;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .Holder-log {
        height: 50px;
        font-size: 16px;
        margin-bottom: 15px;
        width: 100% ;
    }

    .Name {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .Odkaz,
    .Odkazik {
        font-size: 20px;
    }

    .prihlas-form {
        width: 90vw;
        padding: 15px;
    }
}