.header {
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    z-index: 1000;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.Title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.headercontent {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.png {
    width: 150px;
    height: 150px;
}

.Login-link {
    color: #EFF1F3;
    font-size: 23px;
    text-decoration: none;
}

.Title-o {
    margin: 0px;
    display: block;
    color: #EFF1F3;
    text-decoration: none;

}

.Login-linko {
    font-size: 25px;
    color: #EFF1F3;
    text-decoration: none;
    width: 200px;

}

.telo {
    padding-top: 97px;
    height: auto;
    margin-top: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;


}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border: #012A38 2px solid;
    height: 100%;

}

.Rezervovat_but {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border: #012A38 2px solid;
    border-radius: 25px;
    align-items: middle;
    display: block;
    margin: 15px auto 0 auto;

}

.jazz {
    text-decoration: none;
    color: black;
}

.Filter {
    width: 1fr;
    background-color: #012A38;
}

.joj {
    text-decoration: none;
    color: black;

}

.links {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    position: relative;
    --items: 3;
    --gap: 45px;
}

.links>a {
    flex: 1;
    text-align: center;
}

.links>.line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: calc((100% - 2*var(--gap)) / var(--items) * (var(--index) - 1) + var(--gap) * (var(--index) - 1));
    width: calc((100% - 2*var(--gap)) / var(--items));
    --index: 0;
    background-color: #6fd1ff;
    bottom: -5px;
    height: 2px;
}

.links>a:hover~.line {
    opacity: 1;
}

.links>a:nth-of-type(1):hover~.line {
    --index: 1;
}

.links>a:nth-of-type(2):hover~.line {
    --index: 2;
}

.links>a:nth-of-type(3):hover~.line {
    --index: 3;
}

.auto-card {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-top: 15px;
    z-index: 1px;
    position: relative;
    column-gap: 30px;
    row-gap: 70px;
}

.Prehlasd {
    width: 420px;
    cursor: pointer;
    margin-top: 10px;
}

.nahladak {
    width: 100%;
    border-radius: 10px;
}

.videoinfogrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 70px;
    margin-top: 10px;
    align-items: center;
}

.Nazov,
.Tvorca,
.Statistika {
    margin: 0;
    text-align: center;
    font-size: 20px;
}

.Nazov {
    font-size: 30px;
    font-weight: bold;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 25px;

}

.popup-content {
    background: white;
    padding: 20px;
    width: auto;
    max-width: 450px;
    border-radius: 10px;
    position: relative;
    animation: popupAnim 0.5s ease;

}

@keyframes popupAnim {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.popup-content input {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

.close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 22px;
    cursor: pointer;
}

.confirm-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background-color: #EFF1F3;
    color: #012A38;
    font-size: 20px;
}

.auto-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    background-color: rgba(128, 128, 128, 0.182);
}

.Infauto {
    text-align: center;
}

.popup-image {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    margin-top: 15px;
}

.popup-text {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.popup-vykon,
.popup-rychlost {
    font-size: 23px;
    text-align: center;
    margin-top: 5px;
}

.infoska {
    font-size: 23px;
    text-align: center;


}

.footer {
    color: whitesmoke;
    background-color: #3a3d3f;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 20px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.footext {
    padding-top: 21px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.copyright {
    margin-top: 0px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: italic;
    padding-bottom: 10px;
}

.Kontakt {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.mailo {
    color: white;
    text-decoration: none;
}


.socki {
    width: 50px;
    height: auto;
    margin-top: 10px;
}

.leftside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.middleside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videoinfogrid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
}
.lobby:hover{
    
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

/* Tablete responsivite */

@media (max-width: 830px) {
    .header {
        height: auto;
        padding: 10px;
    }

    .headercontent {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .telo {
        padding-top: 80px;
    }

    .carinfogrid {
        display: flex;
        gap: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .Title {
        font-size: 20px;
        gap: 15px;
        flex-wrap: wrap;
    }

    .png {
        width: 100px;
        height: 100px;
    }

    .Login-link,
    .Login-linko {
        font-size: 18px;
    }

    .videoinfogrid {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
        position: static;
        margin-top: 50px;
    }

    .footext {
        padding-top: 0;
        margin-bottom: 5px;
    }
}

/* Mobile responsivity */

@media (max-width: 480px) {
    .Title {
        font-size: 16px;
        gap: 10px;
    }

    .headercontent {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .telo {
        padding-top: 80px;
    }

    .png {
        width: 80px;
        height: 80px;
    }
    
    .auto-card {
        display: flex;
        gap: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .Login-link,
    .Login-linko {
        font-size: 16px;
        width: 100px;
    }

    .videoinfogrid {
        gap: 15px;
        padding: 5px;
    }
}