.header {
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    z-index: 1000;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.headercontent {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.links {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    position: relative;
    --items: 3;
    --gap: 45px;
}

.links>a {
    flex: 1;
    text-align: center;
}

.links>.line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: calc((100% - 2*var(--gap)) / var(--items) * (var(--index) - 1) + var(--gap) * (var(--index) - 1));
    width: calc((100% - 2*var(--gap)) / var(--items));
    --index: 0;
    background-color: #6fd1ff;
    bottom: -5px;
    height: 2px;
}

.links>a:hover~.line {
    opacity: 1;
}

.links>a:nth-of-type(1):hover~.line {
    --index: 1;
}

.links>a:nth-of-type(2):hover~.line {
    --index: 2;
}

.links>a:nth-of-type(3):hover~.line {
    --index: 3;
}

.headercontent {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.png {
    width: 150px;
    height: 150px;
}

.Login-link {
    color: #EFF1F3;
    font-size: 23px;
    text-decoration: none;
}

.Title-o {
    margin: 0px;
    display: block;
    color: #EFF1F3;
    text-decoration: none;
}

.Login-linko {
    font-size: 25px;
    color: #EFF1F3;
    text-decoration: none;
    position: relative;
    width: 200px;
}

.Title .Login-linko:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #6fd1ff;
}

.logino .Login-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #6fd1ff;
}

.telo {
    padding-top: 0px;
    height: auto;
    margin: 0px;
}

.mainpic {
    margin-top: -70px;
    width: 100%;
    height: auto;
}

.uvodik {
    position: relative;
}

.uvodtext {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 74px;
    font-weight: bold;
    text-align: center;
    text-shadow: 12px 12px 14px rgba(0, 0, 0, 0.7);
    text-decoration: double;
    -webkit-text-stroke: 0.3px black;
    margin: 0px;
}

.info {
    text-align: center;
    margin-top: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #012A38;
    font-weight: bold;
}

.infa {
    text-align: center;
    margin-top: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #012A38;
    font-weight: normal;
    margin-left: 25px;
    margin-right: 25px;
}

.uvodbut {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    background-color: #012A38;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 450px;
    height: 60px;
    border-radius: 15px;
}

.uvodbut:hover {
    background-color: #02475e;
     
    transition: all 0.3s ease;
     
}

.jazz {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 35px;
    display: block;
}

.Paragrafa {
    width: 100%;
    height: auto;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.po {
    margin: 50px;

}

.footer {
    color: whitesmoke;
    background-color: #3a3d3f;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 20px;
}


.footext {
    padding-top: 21px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.copyright {
    margin-top: 0px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: italic;
    padding-bottom: 10px;
}

.NasaAuta {
    width: 60%;
    table-layout: fixed;
    caption-side: bottom;
    font-size: 20px;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 25px;
}

.NasaAuta td,
.NasaAuta th {
    border: 0.2px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    border-radius: 25px;
}

.NasaPonuka {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #012A38;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 75px;
    border-radius: 25px;

}

.logoauto {
    height: auto;
    width: 150px;
}

.logoauto-b {
    height: 100px;
    width: 100px;
}

.Znacka {
    font-size: 30px;
    font-weight: bold;

}

th {
    font-size: 37px;
}

.ciara {
    background-color: black;
    height: 1px;
}

.modely {
    font-size: 23px;
}

.mainpic {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.Kontakt {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.mailo {
    color: white;
    text-decoration: none;
}

.socki {
    width: 50px;
    height: auto;
    margin-top: 10px;
}

.leftside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.middleside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 830px) {
    .header {
        height: auto;
        padding: 10px;
    }

    .headercontent {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .Title {
        font-size: 20px;
        gap: 15px;
        flex-wrap: wrap;
    }

    .links {
        font-size: 20px;
        --gap: 15px;
    }

    .telo {
        padding-top: 156px;
    }

    .png {
        width: 100px;
        height: 100px;
    }

    .Login-link,
    .Login-linko {
        font-size: 18px;
    }

    .uvodtext {
        font-size: 25px;
        top: 30%;
    }

    .uvodbut {
        font-size: 10px;
        width: 250px;
        height: 50px;
    }

    .jazz {
        font-size: 20px;
    }

    .info {
        font-size: 30px;
    }

    .infa {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .NasaAuta {
        width: 95%;
        font-size: 16px;
    }

    .NasaAuta th {
        font-size: 25px;
    }

    .NasaPonuka {
        font-size: 18px;
        text-align: center;
    }

    .logoauto {
        width: 100px;
    }

    .Znacka {
        font-size: 20px;
    }

    .modely {
        font-size: 18px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
    }

    .footext {
        padding-top: 0;
        margin-bottom: 5px;
    }

    .Paragrafa {
        flex-direction: column;
        gap: 20px;
    }

    .po {
        margin: 20px 10px;
    }
}

@media (max-width: 480px) {
    .Title {
        font-size: 16px;
        gap: 10px;
    }

    .links {
        font-size: 16px;
        --gap: 10px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
    }

    .png {
        width: 80px;
        height: 80px;
    }

    .Paragrafa {
        flex-direction: column;
        gap: 20px;
    }

    #header {
        height: auto;
        padding: 10px;
    }

    .headercontent {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .Login-link,
    .Login-linko {
        font-size: 16px;
        width: 95px;
    }


    .uvodtext {
        font-size: 20px;
        top: 23%;
    }

    .uvodbut {
        font-size: 10px;
        width: 150px;
        height: 20px;
        top: 28%;
    }

    .po {
        font-size: 20px;
        margin: 5px;
    }

    .jazz {
        font-size: 9px;
    }

    .info {
        font-size: 20px;
    }

    .infa {
        font-size: 13px;
    }

    .nasa {
        font-size: 20px;
    }

    .NasaAuta {
        font-size: 14px;
        overflow-x: auto;
        display: block;
        margin-left: 50px;
    }

    .NasaAuta th {
        font-size: 20px;
    }

    .NasaPonuka {
        font-size: 16px;
        text-align: center;

    }

    .mainpic {
        margin-top: -1350px;
        width: 100%;
        height: auto;
    }

    .logoauto {
        height: auto;
        width: 30px;
    }

    .logoauto-b {
        height: 30px;
        width: 30px;
    }

    .asdasd {
        font-size: 5px;
    }

    .socki {
        width: 30px;
    }

    .Znacka {
        font-size: 12px;
    }

    .modely {
        font-size: 6px;
    }

    .footext {
        font-size: 15px;
    }

    .opyright {
        font-size: 10px;
    }

    .uvodtext {}
}