.header{
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
}
.Title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
}
.headercontent{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}
.png{
    width: 150px;
    height: 150px;
}
.Login-link{
    color: #EFF1F3 ;
    font-size: 23px;
    text-decoration: none;
}
.Title-o{
    margin: 0px;
    display: block;
    color: #EFF1F3 ;
    text-decoration: none;
    
}
.Login-linko{
    font-size: 25px;
    color: #EFF1F3 ;
    text-decoration: none;

}
.telo {
    padding-top: 97px;
    height: auto;
    margin: 0px;
}
.Car_grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
   
}
.Car_Prehlad {
    margin: 50px;
    
}
.Car_Prehlad{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Car_img{
    height: 450px;
    width: 650px;
    object-fit: cover;
    padding-left: 70px;
    width: 100%;
    
    
   
}
.info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right:20px ;
    border: #012A38 2px solid;
    height: 100%;

}
.Rezervovat_but{
    background-color: #ffffff;
    color: rgb(251, 251, 251);
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border: #012A38 2px solid;
    border-radius: 25px;
    
}
.jazz{
    text-decoration: none;
    color: black;
}
.Car_Name{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
