.header{
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.Title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.headercontent{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}
.png{
    width: 150px;
    height: 150px;
}
.Login-link{
    color: #EFF1F3 ;
    font-size: 23px;
    text-decoration: none;
}
.Title-o{
    margin: 0px;
    display: block;
    color: #EFF1F3 ;
    text-decoration: none;
    
}
.Login-linko{
    font-size: 25px;
    color: #EFF1F3 ;
    text-decoration: none;
}
.telo{
    margin-top: 150px;
}
.Kontakt-chart{
    font-size: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 750px;
    height: 250px;
    align-items: middle;

}
.Name{
    font-size: 35px;
    text-align: center;
}
.Odkazik{
    text-align: center;
}
.meno,.Email{
    font-size: 20px;
}
.footer {
    color: whitesmoke;
    background-color: #3a3d3f;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    text-align: center;
    vertical-align: middle;
}

.footext {
    padding-top: 21px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.copyright {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: italic;
}
.Otazka{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 180px;
    vertical-align: top;
}
.input{
    width: 300px;
    height: 40px;
    font-size: 20px;
}
.forms{
    border: 1px solid black;
   padding-top: 15px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
   

}
.Nazov{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.submitbut{
    font-size: 20px;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    background-color: aliceblue;
    text-align: center;
}
.Riadok{
    margin-bottom: 9px;
}
.input{
    border-radius: 15px;    
    border: 0.5px solid rgb(0, 0, 0);
}
.chekichek{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.inputo{
    border-radius: 15px;    
    border: 0.5px solid rgb(0, 0, 0);
    height: 150px;
    width: 300px;

}
.Suhlas{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}  
.socki {
    width: 50px;
    height: auto;
    margin-top: 10px;
}

.leftside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.middleside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.footer {
    color: whitesmoke;
    background-color: #3a3d3f;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 20px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.footext {
    padding-top: 21px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.copyright {
    margin-top: 0px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: italic;
}
.textove{
    resize: none;
    width: 300px;
    height: 150px;
    border-radius: 15px;
    border: 0.5px solid rgb(0, 0, 0);
}
