.header{
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
}
.Title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
}
.headercontent{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}
.png{
    width: 150px;
    height: 150px;
}
.Login-link{
    color: #EFF1F3 ;
    font-size: 23px;
    text-decoration: none;
}
.Title-o{
    margin: 0px;
    display: block;
    color: #EFF1F3 ;
    text-decoration: none;
    
}
.Login-linko{
    font-size: 25px;
    color: #EFF1F3 ;
    text-decoration: none;
}
.telo{
    margin-top: 150px;
}
.Kontakt-chart{
    font-size: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 750px;
    height: 250px;
    align-items: middle;

}
.Name{
    font-size: 35px;
    text-align: center;
}
.Odkazik{
    text-align: center;
}
.meno,.Email{
    font-size: 20px;
}
.footer {
    color: whitesmoke;
    background-color: #3a3d3f;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    text-align: center;
    vertical-align: middle;
}

.footext {
    padding-top: 21px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.copyright {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: italic;
}
.Otazka{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
.input{
    width: 300px;
    height: 40px;
    font-size: 20px;
}
.forms{
    max-width: 500px;
    align-content: center;
    border: 1px solid black;
}
.Nazov{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.submitbut{
    font-size: 20px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    background-color: aliceblue;
}