.header{
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    flex: 1;
}
.Title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    
}
.headercontent{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    flex: 1;
}
.png{
    width: 150px;
    height: 150px;
}
.Login-link{
    color: #EFF1F3 ;
    font-size: 40px;
    
}
.Title-o{
    margin: 0px;
    display: block;
    color: #EFF1F3 ;
    text-decoration: none;
    
}
.Login-linko{
    font-size: 15px;
    color: #EFF1F3 ;

}
.telo{
    padding-top: 160px;
    padding-left: 27vw ;
    padding-right: 27vw  ;
    
}
.login-form{
    background-color: #559cb4;
    z-index: 1;
    border-radius: 50px;
    padding-right: 6vw;
    padding-left: 10vw;
    padding-top: 1vw;
    padding-bottom: 5.0vw;
    
}
.Login-chart{
    width: 150px;
    height: 570px;
    border-radius: 50px;
    align-items: middle;
    min-width:150px; ;
    min-height:570px; ;
}
.asdo{
    color: #012A38;
}
.Holder{
    height: 70px;
    width: 450px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    margin-bottom: 25px;
}
.Name{
    margin-bottom: 25px;
    color: white;
    font-size: 35px;
    width: 350px;
    text-align: center;
    padding-left: 50px;
}