.header {
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    align-items: center;
    flex: 1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

.Title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.headercontent {
    height: 100px;
    display: flex;
    flex-direction:
        row;
    justify-content: space-between;
    align-items: center;
    flex: 1;

}

.png {
    width: 150px;
    height: 150px;
}

.Login-link {
    color: #EFF1F3;
    font-size: 40px;
}

.Title-o {
    margin: 0px;
    display: block;
    color: #EFF1F3;
    text-decoration: none;
}

.Login-linko {
    font-size: 25px;
    color: #EFF1F3 ;
    text-decoration: none;
}

.telo {
    padding-top: 160px;
    
}

.login-form {
    background-color: #559cb4;
    z-index: 1;
    border-radius: 50px;
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
    padding: 3vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    text-align: center;
    
}
.asdo {
    color: #012A38;
}

.Holder {
    height: 70px;
    width: 450px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    margin-bottom: 25px;
}

.Name {
    margin-bottom: 25px;
    color: white;
    font-size: 35px;
    
   
    
}
.prihlas-form{
    background-color: #559cb4;
    z-index: 1;
    border-radius: 50px;
    padding-left: 10vw;
    padding-top: 1vw;
    padding-bottom: 5.0vw;
    width: 30vw;
    display: inline-block;
}
.Odkaz {
    text-decoration: none;
    color: white;
    font-size: 35px;
    display: block;
    margin-top: 10px;
}
.Odkazik {
   text-decoration: none;
    color: rgb(255, 176, 176);
    font-size: 33px;
    display: block;
    margin-top: 10px;
}
.jazz {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    display: block;
}
.footer {
    color: whitesmoke;
    background-color: #3a3d3f;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 20px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.footext {
    padding-top: 21px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.copyright {
    margin-top: 0px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: italic;
}

.socki {
    width: 50px;
    height: auto;
    margin-top: 10px;
}

.leftside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.middleside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}