.header {
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    align-items: center;
    flex: 1;

}

.Title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;

}

.headercontent {
    height: 100px;
    display: flex;
    flex-direction:
        row;
    justify-content: space-between;
    align-items: center;
    flex: 1;

}

.png {
    width: 150px;
    height: 150px;
}

.Login-link {
    color: #EFF1F3;
    font-size: 40px;
}

.Title-o {
    margin: 0px;
    display: block;
    color: #EFF1F3;
    text-decoration: none;
}

.Login-linko {
    font-size: 20px;
    color: #EFF1F3 ;
    text-decoration: none;
}

.telo {
    padding-top: 160px;
    
}

.login-form {
    background-color: #559cb4;
    z-index: 1;
    border-radius: 50px;
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
    padding: 3vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    text-align: center;
    
}
.asdo {
    color: #012A38;
}

.Holder {
    height: 70px;
    width: 450px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    margin-bottom: 25px;
}

.Name {
    margin-bottom: 25px;
    color: white;
    font-size: 35px;
    
   
    
}
.prihlas-form{
    background-color: #559cb4;
    z-index: 1;
    border-radius: 50px;
    padding-left: 10vw;
    padding-top: 1vw;
    padding-bottom: 5.0vw;
    width: 30vw;
    display: inline-block;
}
.Odkaz {
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: block;
}
.jazz {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    display: block;
}