.header{
    background-color: #012A38;
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.Title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFF1F3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.headercontent{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}
.png{
    width: 150px;
    height: 150px;
}
.Login-link{
    color: #EFF1F3 ;
    font-size: 23px;
    text-decoration: none;
}
.Title-o{
    margin: 0px;
    display: block;
    color: #EFF1F3 ;
    text-decoration: none;
    
}
.telo{
    padding-top: 97px;
    height: auto;
    margin-top: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.Login-linko{
    font-size: 25px;
    color: #EFF1F3 ;
    text-decoration: none;

}
.footer {
    color: whitesmoke;
    background-color: #3a3d3f;
    height: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 25px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 20px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.footext {
    padding-top: 21px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.copyright {
    margin-top: 0px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: italic;
}

.socki {
    width: 50px;
    height: auto;
    margin-top: 10px;
}

.leftside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.middleside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videoinfogrid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
}


@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 10px;
    }

    .headercontent {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .Title {
        font-size: 20px;
        gap: 15px;
        flex-wrap: wrap;
    }

    .png {
        width: 100px;
        height: 100px;
    }

    .Login-link, .Login-linko {
        font-size: 18px;
    }

    .videoinfogrid {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
        position: static;
        margin-top: 50px;
    }

    .footext {
        padding-top: 0;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .Title {
        font-size: 16px;
        gap: 10px;
    }

    .png {
        width: 80px;
        height: 80px;
    }

    .Login-link, .Login-linko {
        font-size: 16px;
    }

    .videoinfogrid {
        gap: 15px;
        padding: 5px;
    }
}
